<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--main file of js-->
    <link rel="stylesheet" href="../src/css/vendor/screen.css">
    <link rel="stylesheet" href="../src/css/minifiedStyles/ltr-style.min.css">
   <!-- RTL css file -->
    <!-- <link rel="stylesheet" href="../src/css/minifiedStyles/rtl-style.min.css"> -->
    <title>signin</title>
</head>
<body dir="ltr">
    <!-- Start Navbar section -->
    <nav class="nav fixed-menu">
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row align-items-center">
                <!-- LOGO -->
                <div class="col-md-2 col-5">
                    <div class="nav_logo">
                        <a href="../index.html">
                            <svg class="icon-svg">
                                <use xlink:href="../src/assets/icons/symbol-defs.svg#icon-logo"></use>
                            </svg>
                            <span>E</span>-Shop
                        </a>
                    </div>
                </div><!-- End LOGO -->
                <!-- Main Navbar Menu -->
                <div class="col-md-8 col">
                    <ul class="nav_menu">
                        <!-- Nav_menu-item -->
                        <li class="nav_menu-item">
                            Men
                            <!-- Submenus Area -->
                            <div class="nav_submenus">
                                <div class="container">
                                    <!-- Row -->
                                    <div class="row">
                                        <!-- First Submenu that includes other submenus -->
                                        <ul class="nav_submenu1">
                                            <div class="menu-closer">
                                                <svg class="icon-svg">
                                                <use xlink:href="../src/assets/icons/symbol-defs.svg#icon-close"></use>
                                                </svg>
                                            </div>
                                            <li class="nav_submenu1-item">
                                                <!-- Second Submenu (Vertical) -->
                                                <ul class="nav_submenu2">
                                                    <li class="nav_submenu2-item">Sale</li>
                                                    <li class="nav_submenu2-item">Best Sellers</li>
                                                    <li class="nav_submenu2-item">Latest Arrivals</li>
                                                </ul>
                                            </li><!-- End nav_submenu1-item -->
                                            <li class="nav_submenu1-item">
                                                <h6 class="nav_submenu1-name" class="nav_submenu1-name">SHOES</h6>
                                                <!-- Second Submenu (Vertical) -->
                                                <ul class="nav_submenu2">
                                                    <div class="menu-closer">
                                                        <svg class="icon-svg">
                                                        <use xlink:href="../src/assets/icons/symbol-defs.svg#icon-close"></use>
                                                        </svg>
                                                    </div>
                                                    <li class="nav_submenu2-item">
                                                        Lifestyle
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Running
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Soccer
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Basketball
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Football
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Golf
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Baseball
                                                    </li>
                                                </ul>
                                            </li><!-- End nav_submenu1-item -->
                                            <li class="nav_submenu1-item">
                                                <h6 class="nav_submenu1-name">CLOTHING</h6>
                                                <!-- Second Submenu (Vertical) -->
                                                <ul class="nav_submenu2">
                                                    <div class="menu-closer">
                                                        <svg class="icon-svg">
                                                            <use xlink:href="../src/assets/icons/symbol-defs.svg#icon-close"></use>
                                                        </svg>
                                                    </div>
                                                    <li class="nav_submenu2-item">
                                                        Pants
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Hoodies & Sweatshirts
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Jackets & Vests
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Track Suits
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Short Sleeve Shirts
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        T-Shirts
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Jerseys
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Shorts
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Jeans
                                                    </li>
                                                </ul>
                                            </li><!-- End nav_submenu1-item -->
                                            <li class="nav_submenu1-item">
                                                <h6 class="nav_submenu1-name">ACCESORRIES</h6>
                                                <!-- Second Submenu (Vertical) -->
                                                <ul class="nav_submenu2">
                                                    <div class="menu-closer">
                                                        <svg class="icon-svg">
                                                            <use xlink:href="../src/assets/icons/symbol-defs.svg#icon-close"></use>
                                                        </svg>
                                                    </div>
                                                    <li class="nav_submenu2-item">
                                                        Backpacks
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Caps & Hats
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Watches
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Belts
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Bags
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Wallets & Cases
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Scarves
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Glasses
                                                    </li>
                                                </ul>
                                            </li><!-- End nav_submenu1-item -->
                                        </ul><!-- EndFirst Submenu that includes other submenus -->
                                    </div><!--End Row -->
                                </div><!--End Container -->
                            </div><!--End Submenus Area -->
                        </li><!--End Nav_menu-item -->
                        <!-- Nav_menu-item -->
                        <li class="nav_menu-item">
                        Women
                            <!-- Submenus Area -->
                            <div class="nav_submenus">
                                <div class="container">
                                    <div class="row">
                                        <!-- First Submenu that includes other submenus -->
                                        <ul class="nav_submenu1">
                                            <div class="menu-closer">
                                                <svg class="icon-svg">
                                                    <use xlink:href="../src/assets/icons/symbol-defs.svg#icon-close"></use>
                                                </svg>
                                            </div>
                                            <li class="nav_submenu1-item">
                                                <!-- Second Submenu (Vertical) -->
                                                <ul class="nav_submenu2">
                                                    <li class="nav_submenu2-item">Sale</li>
                                                    <li class="nav_submenu2-item">Best Sellers</li>
                                                    <li class="nav_submenu2-item">Latest Arrivals</li>
                                                </ul>
                                            </li>
                                            <li class="nav_submenu1-item">
                                                <h6 class="nav_submenu1-name" class="nav_submenu1-name">SHOES</h6>
                                                <!-- Second Submenu (Vertical) -->
                                                <ul class="nav_submenu2">
                                                    <div class="menu-closer">
                                                        <svg class="icon-svg">
                                                            <use xlink:href="../src/assets/icons/symbol-defs.svg#icon-close"></use>
                                                        </svg>
                                                    </div>
                                                    <li class="nav_submenu2-item">
                                                    Lifestyle
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Running
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Soccer
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Basketball
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Football
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Golf
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Baseball
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav_submenu1-item">
                                                <h6 class="nav_submenu1-name">CLOTHING</h6>
                                                <!-- Second Submenu (Vertical) -->
                                                <ul class="nav_submenu2">
                                                    <div class="menu-closer">
                                                        <svg class="icon-svg">
                                                    <use xlink:href="../src/assets/icons/symbol-defs.svg#icon-close"></use>
                                                </svg>
                                                    </div>
                                                    <li class="nav_submenu2-item">
                                                        Pants
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Hoodies & Sweatshirts
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Jackets & Vests
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Track Suits
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Short Sleeve Shirts
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        T-Shirts
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Jerseys
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Shorts
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Jeans
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav_submenu1-item">
                                                <h6 class="nav_submenu1-name">ACCESORRIES</h6>
                                                <!-- Second Submenu (Vertical) -->
                                                <ul class="nav_submenu2">
                                                    <div class="menu-closer">
                                                        <svg class="icon-svg">
                                                    <use xlink:href="../src/assets/icons/symbol-defs.svg#icon-close"></use>
                                                </svg>
                                                    </div>
                                                    <li class="nav_submenu2-item">
                                                        Backpacks
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Caps & Hats
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Watches
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Belts
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Bags
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Wallets & Cases
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Scarves
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Glasses
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li><!--End Nav_menu-item -->
                        <!-- Nav_menu-item -->
                        <li class="nav_menu-item">
                            Kids
                            <!-- Submenus Area -->
                            <div class="nav_submenus">
                                <div class="container">
                                    <div class="row">
                                        <!-- First Submenu that includes other submenus -->
                                        <ul class="nav_submenu1">
                                            <div class="menu-closer">
                                                <svg class="icon-svg">
                                                    <use xlink:href="../src/assets/icons/symbol-defs.svg#icon-close"></use>
                                                </svg>
                                            </div>
                                            <li class="nav_submenu1-item">
                                                <!-- Second Submenu (Vertical) -->
                                                <ul class="nav_submenu2">
                                                    <li class="nav_submenu2-item">Sale</li>
                                                    <li class="nav_submenu2-item">Best Sellers</li>
                                                    <li class="nav_submenu2-item">Latest Arrivals</li>
                                                </ul>
                                            </li>
                                            <li class="nav_submenu1-item">
                                                <h6 class="nav_submenu1-name" class="nav_submenu1-name">SHOES</h6>
                                                <!-- Second Submenu (Vertical) -->
                                                <ul class="nav_submenu2">
                                                    <div class="menu-closer">
                                                        <svg class="icon-svg">
                                                            <use xlink:href="../src/assets/icons/symbol-defs.svg#icon-close"></use>
                                                        </svg>
                                                    </div>
                                                    <li class="nav_submenu2-item">
                                                        Lifestyle
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Running
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Soccer
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Basketball
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Football
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Golf
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Baseball
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav_submenu1-item">
                                                <h6 class="nav_submenu1-name">CLOTHING</h6>
                                                <!-- Second Submenu (Vertical) -->
                                                <ul class="nav_submenu2">
                                                    <div class="menu-closer">
                                                        <svg class="icon-svg">
                                                            <use xlink:href="../src/assets/icons/symbol-defs.svg#icon-close"></use>
                                                        </svg>
                                                    </div>
                                                    <li class="nav_submenu2-item">
                                                        Pants
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Hoodies & Sweatshirts
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Jackets & Vests
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Track Suits
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Short Sleeve Shirts
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        T-Shirts
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Jerseys
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Shorts
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Jeans
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav_submenu1-item">
                                                <h6 class="nav_submenu1-name">ACCESORRIES</h6>
                                                <!-- Second Submenu (Vertical) -->
                                                <ul class="nav_submenu2">
                                                    <div class="menu-closer">
                                                        <svg class="icon-svg">
                                                            <use xlink:href="../src/assets/icons/symbol-defs.svg#icon-close"></use>
                                                        </svg>
                                                    </div>
                                                    <li class="nav_submenu2-item">
                                                        Backpacks
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Caps & Hats
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Watches
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Belts
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Bags
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Wallets & Cases
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Scarves
                                                    </li>
                                                    <li class="nav_submenu2-item">
                                                        Glasses
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul><!--End Nav Menu -->
                </div> <!--End Main Navbar Menu -->
                <!-- Navbar Tools -->
                <div class="col-md-2 col-5">
                    <ul class="nav_tools">
                        <li class="nav_tools-item">
                            <svg class="icon-svg">
                                <use xlink:href="../src/assets/icons/symbol-defs.svg#icon-search"></use>
                            </svg>
                        </li>
                        <li class="nav_tools-item">
                            <svg class="icon-svg">
                                <use xlink:href="../src/assets/icons/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </li>
                        <li class="nav_tools-item signing">
                            <svg class="icon-svg signing_toggler">
                                <use xlink:href="../src/assets/icons/symbol-defs.svg#icon-avatar"></use>
                            </svg>
                            <div class="signing_menu">
                                <button class="signing_item" data-bs-toggle="modal" data-bs-target="#exampleModal">Sign In</button>
                                <button class="signing_item" data-bs-toggle="modal" data-bs-target="#exampleModal1">Sign Up</button>
                            </div>
                        </li>
                        
                        <li class="nav_tools-item menu-toggler">
                            <svg class="icon-svg">
                                <use xlink:href="../src/assets/icons/symbol-defs.svg#icon-menu"></use>
                            </svg>
                        </li> 
                    </ul>
                </div><!-- End Navbar Tools -->
            </div><!-- End Row -->
        </div><!-- End Container -->
        <!--###############################   Modals For Testing   ##########################################-->
        <!-- Login Model -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <!--modal-dialog -->
            <div class="modal-dialog">
                <!--modal-content -->
                <div class="modal-content">
                    <!--modal-header -->
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div><!--End Model-header -->
                    <!--modal-body -->
                    <div class="modal-body">
                        <!--sign login -->
                        <div class="sign-up login">
                            <!--Container-->
                            <div class="container">
                                <div class="sign-up__content">
                                    <div class="sign-up__content-header text-center">
                                    <h3>Log in</h3>
                                        <p class="dummy-text">Lorem Ipsum is simply dummy text of the printing</p>
                                    </div>
                                <form action="" method="">
                                <div class="form-group mb-3">
                                    <input type="email" class="form-control user-mail" name="uEmail" placeholder="Email">
                                    <div class="alert alert-danger my-2" id="mail-lert">Please Enter Right Mail</div>
                                </div>
                                <div class="form-group mb-3">
                                    <input type="password" class="form-control user-password" name="password" placeholder="Password">
                                    <i class="far fa-eye-slash" id="togglePassword"></i>
                                    <div class="alert alert-danger my-2" id="pass-lert">Password must contain Number, lowercase and uppercase letters</div>
                                </div>
                                <div class="form-group check-field mb-3">
                                    <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="saveSign">
                                    <label class="form-check-label" for="saveSign">
                                        Keep me signed in
                                    </label>
                                    </div>
                                    <div class="forget-pass">Forget password</div>
                                </div>
                                <div class="log-social">
                                    <div class="row">
                                        <div class="col-md-6"><a class="log-social__facebook" href="#"><svg class="icon-svg"><use xlink:href="../src/assets/imgs/symbol-defs.svg#icon-facebook1"></use></svg> <span>Facebook</span></a></div>
                                        <div class="col-md-6">
                                            <a class="log-social__gmail" href=""><svg class="icon-svg"><use xlink:href="../src/assets/imgs/symbol-defs.svg#icon-gmail"></use></svg> <span>Gmail</span></a>
                                        </div>
                                    </div>
                                </div>
                                <button class="sign-btn" type="submit">Sign in</button>
                                </form>
                                <div class="create d-flex justify-content-around">
                                <p class="sign-up__ready">Not amember yet?</p>
                                <a class="create__link" href="sign-up.html">Sign up</a>
                                </div>
                            </div>
                            </div><!--End Container-->
                        </div><!--End login -->
                    </div><!--modal-body -->
                </div><!--modal-content -->
            </div><!--End modal-dialog -->
        </div><!--End Login Model -->
        <!-- sign up Model -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <!--modal-dialog -->
            <div class="modal-dialog">
                <!--modal-content -->
                <div class="modal-content">
                    <!--modal-header -->
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div> <!--End Model-header -->
                    <!--modal-body -->
                    <div class="modal-body">
                        <!--sign up section-->
                        <div class="sign-up">
                            <!--Container-->
                            <div class="container">
                                <div class="sign-up__content create-account">
                                    <div class="sign-up__content-header text-center">
                                        <h3>Create an account and <br/>
                                            discover the benefits</h3>
                                            <p class="dummy-text special-text">Lorem Ipsum is simply dummy text of the printing 
                                            and typesetting industry. Lorem Ipsum has been the industry's</p>
                                    </div>
                                    <form action="" method="">
                                        <div class="form-group mb-3">
                                            <input type="text" class="form-control first-name" name="firstName" placeholder="First Name">
                                            <div class="alert alert-danger my-2" id="fName-lert">Please Enter First Name</div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <input type="text" class="form-control lst-name" name="lastName" placeholder="Last Name">
                                            <div class="alert alert-danger my-2" id="lName-lert">Please Enter last Name</div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <input type="email" class="form-control user-mail" name="uEmail" placeholder="Email">
                                            <div class="alert alert-danger my-2" id="mail-lert">Please Enter Right Mail</div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <input type="password" class="form-control user-password" name="password" placeholder="Password">
                                            <div class="alert alert-danger my-2" id="pass-lert">Password must contain Number, lowercase and uppercase letters</div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <div class="check-field">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="privacyPolic">
                                                    <label class="form-check-label" for="privacyPolic">
                                                    <div class="alert alert-danger my-2" id="pass-lert">Please Enter Right Name</div>
                                                    I agree to the Google Terms of Service and Privacy Policy
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="sign-btn" type="submit">Sign up</button>
                                    </form>
                                    <p class="sign-up__ready">Are you already a member?</p>
                                </div><!-- End sign-up__content create-account-->
                            </div><!--End Container-->
                        </div><!--sign up -->
                    </div><!--modal-body -->
                </div><!--modal-content -->
            </div><!--End modal-dialog -->
        </div><!--End Login Model -->
    </nav><!-- End Navbar section -->
    <!--sign login section-->
    <section class="sign-up login">
      <!--Container-->
      <div class="container">
        <!--link back to home-->
        <div class="back"><a href="../index.html"><svg class="icon-svg"><use xlink:href='../src/assets/imgs/symbol-defs.svg#icon-arrow_back'></use></svg> Back to shop</a></div>
        <div class="sign-up__content">
          <div class="sign-up__content-header text-center">
            <h3>Log in</h3>
              <p class="dummy-text">Lorem Ipsum is simply dummy text of the printing 
                and typesetting industry. Lorem Ipsum has been the
              </p>
          </div>
          <form action="" method="" class="myform">
            <div class="form-group mb-3">
              <input type="email" class="form-control user-mail" name="uEmail" placeholder="Email">
              <div class="alert alert-danger my-2" id="mail-lert">Please Enter Right Mail</div>
            </div>
            <div class="form-group mb-3">
              <input type="password" class="form-control user-password" name="password" placeholder="Password">
              <i class="far fa-eye-slash" id="togglePassword"></i>
              <div class="alert alert-danger my-2" id="pass-lert">Password must contain Number, lowercase and uppercase letters</div>
            </div>
            <div class="form-group check-field d-flex justify-content-between mb-3">
                <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Policy">
                <label class="form-check-label" for="Policy">
                    Keep me signed in
                </label>
                </div>
                <div class="forget-pass"><a href="forget-pass.html">Forget password</a></div>
            </div>
            <div class="log-social">
              <div class="row">
                  <div class="col-md-6"><a class="log-social__facebook" href="#"><svg class="icon-svg"><use xlink:href="../src/assets/imgs/symbol-defs.svg#icon-facebook1"></use></svg> <span>Facebook</span></a></div>
                  <div class="col-md-6">
                      <a class="log-social__gmail" href="#"><svg class="icon-svg"><use xlink:href="../src/assets/imgs/symbol-defs.svg#icon-gmail"></use></svg> <span>Gmail</span></a>
                  </div>
              </div>
          </div>

            <button class="sign-btn" type="submit">Sign in</button>
          </form>
          <div class="create d-flex justify-content-around">
            <p class="sign-up__ready">Not amember yet?</p>
            <a class="create__link" href="sign-up.html">Sign up</a>
          </div>
        </div>
      </div><!--End Container-->
    </section><!--login section-->
    <!--main file of js-->
    <script src="../src/scripts/minifiedJs/scripts.min.js"></script>
</body>
</html>